<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Public/Monitor/css/Battery.css" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/jquery.min.js"></script>     
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/Battery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/highcharts.js"></script>
<title>蓄电池监测</title>
</head>
<body>
	<div class="header">
		<!--<img class="nav-pct" src=""__PUBLIC__/Public/img/picture2.jpg" />-->
		<p class="nav-text">ACTL现代通信技术实验室</p> 
		<div class="nav-date-box" >
			<div class="date-content">
				<script type="text/javascript">
					document.write(year + '年' + mon + '月' + day + '日   ' + week);
				</script>
			</div>
		</div>
	</div>
	<div class="Content">
		<div class="curveTitle">
			<p>蓄电池情况曲线表<p>
		</div>
		<!---->
		<div class="CircleBox" onclick="JDBox()">
			
		</div>

		<div class="Sensor-Box">
			<li><a href="#sensor1" onclick="Switch(1)">节点1</a>
			</li>
			<li><a href="#sensor2" onclick="Switch(2)">节点2</a>
			</li>
			<li><a href="#sensor3" onclick="Switch(3)">节点3</a>
			</li>
			<li><a href="#sensor4" onclick="Switch(4)">节点4</a>
			</li>
			<li><a href="#sensor5" onclick="Switch(5)">节点5</a>
			</li>
		</div>

		<div class="curveBox">
			<div class="CCBox" onclick="CurveEnlarge(0)">
				<div id="Voltage" class="CBox" >
					11
				</div>
			</div>

			<div class="CCBox" onclick="CurveEnlarge(1)">
			<div id="Current" class="CBox" >
				22
			</div>
			</div>

			<div class="CCBox" onclick="CurveEnlarge(2)">
			<div id="Temperature" class="CBox">
				33
			</div>
			</div>

			<div class="Battery">
				<div class="BatteryStyle">剩余电量
				</div>
				<div id="restBattery" class="BatteryStyle">
					
				</div>
			</div>
		</div>

	</div>

	<div class="Enlarge" >
		<div  style="width: 100%;height: 40px;border-radius: 10px; text-align: center;margin-left: auto;margin-right: auto;color: #000;background:rgba(255,201,14,0.5);">
			<div id="textShow" style="width: 90%;float: left;margin-top: 10px;font-size: 20px;font-family: 微软雅黑；"></div>
			<div style="width:20px;height: 20px;margin-top:10px;border-radius: 50% 50%;float: right;margin-right:10px;background:rgba(34,117,76,0.7)" onclick="closeEnlarge()">
				
			</div>
		</div>
		<div id="EnlargeVoltage" style="height: 450px;margin-top: 10px;width: 100%;background: #ccc;">
			
		</div>
	</div>
</body>
</html>
