<div class="curveTitle">
			<p>环境实时监测情况展示<p>
		</div>

		<div class="CircleBox" onclick="CirShowHiddenBox()">
			
		</div>

		<div class="configBox">
			<li><a href="#sensor1" onclick="operate(1)">查询</a>
			</li>
			<li><a href="#sensor2" onclick="operate(0)">配置</a>
			</li>
		</div>

		<div class="curveBox">

			<!-- <div class="CCBox">

				<div class="doorWarnBox doorWarnBox1" >
					<p >&nbsp&nbsp&nbsp1号房间门未关&nbsp&nbsp</p>
				</div>

				<div id="room1" class="CBox" >
					
				</div>

				<div class="waterWarnBox waterWarnBox1">
					<p>&nbsp<br>1<br>号<br>房<br>间<br>浸<br>水<br>&nbsp<br>&nbsp<br>&nbsp<br></p>
				</div>

			</div>

			<div class="CCBox">
				<div class="doorWarnBox doorWarnBox2">
					<p >&nbsp&nbsp2号房间门未关&nbsp&nbsp&nbsp</p>
				</div>

				<div id="room2" class="CBox" >
					
				</div>

				<div class="waterWarnBox waterWarnBox2">
					<p>&nbsp<br>2<br>号<br>房<br>间<br>浸<br>水<br>&nbsp<br>&nbsp<br>&nbsp<br></p>
				</div>
			</div>

			<div class="CCBox" >

				<div class="doorWarnBox doorWarnBox3">
					<p >&nbsp&nbsp&nbsp3号房间门未关&nbsp&nbsp</p>
				</div>

				<div id="room3" class="CBox">
					
				</div>

				<div class="waterWarnBox waterWarnBox3">
					<p>&nbsp<br>3<br>号<br>房<br>间<br>浸<br>水<br>&nbsp<br>&nbsp<br>&nbsp<br></p>
				</div>


			</div>

			<div class="CCBox">
				<div class="doorWarnBox doorWarnBox4">
					<p >&nbsp&nbsp4号房间门未关&nbsp&nbsp&nbsp</p>
				</div>

				<div id="room4" class="CBox">
					
				</div>

				<div class="waterWarnBox waterWarnBox4">
					<p>&nbsp<br>4<br>号<br>房<br>间<br>浸<br>水<br>&nbsp<br>&nbsp<br>&nbsp<br></p>
				</div>

			</div> -->
		</div>