<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"   content="height = [pixel_value | device-height] ,width = [pixel_value | device-width ] ,   
	initial-scale = float_value ,   
	minimum-scale = float_value ,   
	maximum-scale = float_value ,   
	user-scalable = [yes | no] ,   
	target-densitydpi = [dpi_value | device-dpi | high-dpi | medium-dpi | low-dpi] " />

<link rel="stylesheet" href="__PUBLIC__/Public/Monitor/css/showSys.css" type="text/css" />
<link rel="shortcut icon" href="__PUBLIC__/Public/Monitor/img/title.ico" type="image/x-icon" />

<!-- <script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/jquery-1.11.3.min.js"></script> -->

<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/d3.min.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/highcharts.js"></script>     
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/func.js"></script>

<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/curve.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/style.js"></script>
<script type="text/javascript" src="__PUBLIC__/Public/Monitor/js/showSysMain.js"></script>
<!--<link href='http://cdn.webfont.youziku.com/webfonts/nomal/109040/47082/59df14ecf629d81144323093.css' rel='stylesheet' type='text/css' /> -->
<title>LoRa环境监测-物理学院</title>
<NOSCRIPT><iframe src="__PUBLIC__/Home/View/Index/index.html"></iframe></NOSCRIPT>
</head>
<body>
	<div class="topBar">
		<!-- <canvas id="myTopBar" style="position: absolute;top:0;left: 0;"></canvas> -->
		 
		<div class="title">
			<!-- -->
			<div class="logoBar">
				<div class="logo">
				
				</div>
			</div>
			<div class="textBar" >
				<div class="titleText">
					环境监测系统&nbsp&nbsp&nbsp&nbsp
				</div>
				<div class="titleMini">
					&nbsp武汉阶跃物联科技有限公司
				</div>
				<audio src="__PUBLIC__/Public/Monitor/music/fire.mp3" controls="controls"  id="music"  loop="loop" hidden="hidden">
				</audio>

			</div>
				

		</div> 
	</div>

	<div class="TemHumBox" >
		<div class="TemHumBoxMain">
			<!-- 选项卡 楼层切换 -->
			<ul class="floorTabs" >

				<li>
					<input type="radio" name="tabs" id="tab0" checked="checked" class="floorTab" onclick="tabClick(0)"/>
					<label for="tab0">曲线概览</label>
					<div id="tab-floor-0" class="tab-floor overview">
						<div class="overView_temp" style="width: 100%;height: 49%;margin-top:10px;float: left;">
							
						</div>
						<div class="overView_humi" style="width: 100%;height: 50%;float: left;margin-top:5px;">
							
						</div>
					</div>
				</li>

				<li>
					<input type="radio" name="tabs" id="tab1" class="floorTab" onclick="tabClick(1)"/>
					<label for="tab1">视图概览</label>
					<div id="tab-floor-1" class="tab-floor tem_hum_draw">
						
					</div>
				</li>

				<li>
					<input type="radio" name="tabs" id="tab8" class="floorTab" onclick="tabClick(2)"/>
					<label for="tab8">信息列表</label>
					<div id="tab-floor-8" class="tab-floor" style="overflow-y: auto;">	
						<table style="width: 100%;height:auto;font-family: '微软雅黑';">
							<caption style="font-size: 20px;border-bottom: 1px solid #fff;">
								监控房间实时信息汇总表
							</caption>
							<tr style="width:100%;height:30px;">
								<td>房间编号</td>
								<td>温度(℃)</td>
								<td>湿度(%Rh)</td>
								<td>烟雾报警器状态</td>
								<td>水浸传感器状态</td>
								<td>门禁传感器状态</td>
							</tr>
							<tbody id="info_tbody">
																
							</tbody>
						</table>
					</div>

				</li>

			</ul>

			<!-- 图标注释字段 -->
			<div class="annotate">
			</div>
		</div>
	</div>

	<div class="notifyBar">
		<div class="notifyLogo">
			<!-- <canvas id="myNotify" style="width: 100%;height: 100%;"></canvas> -->
			<p>报警信息</p>
		</div>
		<div class="notifyBox" id="notifyBox">

		</div>
		<div class="bottomTime">
					
		</div>
	</div>
<!-- 这是绝对定位的标签元素 四周的节点类型查询-->
	<!-- <div class="typeBox smokeBox Box1" >
		<div class="navIcon" >
			
		</div>

		<a>烟<br>雾</a>
		<div class="contentBoxL navIconSide smokeContent">
			<h5>今天最新烟雾报警</h5>
		</div>
		
	</div>

	<div class="typeBox waterBox Box2">
		
		<a>水<br>浸</a>
		<div class="contentBoxR navIconSide waterContent">
			<h5>今天最新水浸报警</h5>
			
		</div>
		<div class="navIcon_sec" >
			
		</div>
	</div>

	<div class="typeBox doorBox Box3">
		<div class="navIcon" >
			
		</div>
		<a>门<br>禁</a>
		<div class="contentBoxL navIconSide doorContent">
			<h5>今天最新门禁报警</h5>
			
		</div>
	</div> 

	<div class="typeBox settingBox  Box4" id="Box4">
		<a>其<br>它</a>
		<div class="contentBoxR navIconSide">
			<li><p onclick="setQuerBox('querry')">历史记录查询</p>
			</li>
			<li><p onclick="setQuerBox('setting')">信息配置</p>
			</li>
			<li><p onclick="">信息录入</p>
			</li>
		</div>
		<div class="navIcon_sec">
			
		</div>
	</div>-->
	
	<include file="Monitor/querry" />
	<include file="Monitor/settingPage" />
	<!-- <include file="Monitor/reset" /> -->

		<!-- 增加节点弹出框 -->
		<div class="sensor">
			<div class="type">
				节点类型
				<li><input type="radio" name="radio" value="tem_hum" checked="checked">温湿度</li>
				<li><input type="radio" name="radio" value="smoke" >烟雾</li>
				<li><input type="radio" name="radio" value="water" >水浸</li>
				<li><input type="radio" name="radio" value="door" >门禁</li>
			</div>
			<div class="paraConfig">
				<li>
					节点EUI&nbsp
					<input type="textbox" id="dev_eui" style="width:50%;height: 20px;font-size: 20px;"/>
				</li>
				<li>
					楼层编号
					<input type="textbox" id="floor_id" style="width:100px;" />
					房间号
					<input type="textbox" id="my_room_id" style="width:100px;" />
				</li>

				<li>
					温度阈值
					<input type="textbox" id="tem_max" style="width:100px;"/>
					高
					<input type="textbox" id="tem_min" style="width:100px;"/>
					低
				</li>
				
				<li>
					湿度阈值
					<input type="textbox" id="hum_max" style="width:100px;" />
					高
					<input type="textbox" id="hum_min" style="width:100px;" />
					低
				</li>
				
			</div>
			<div class="ifConfirm">
				<button onclick="addSsConfrm()">确定</button>
				<button onclick="addSsCancle()">取消</button>
			</div>
		</div>
		
		<!-- 曲线图大图绘制 -->
		<div class="graph">
			<div class="closeBTN" onclick="graphClose()">
				<a>+</a>
			</div>
			<div class="graphBox" >
				111
			</div>
		</div>

	 
</body>
</html>
